@import "tailwindcss";
@import "hds-style/css/theme.css";
@import "hds-style/css/palettes.css";

html, body, #root {
  min-height: 100vh;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--hds-background);
  color: var(--hds-foreground);
}

#root {
  display: flex;
  flex-direction: column;
}
